<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<connectionStrings>
<add name="db" connectionString="server=localhost; database=Fersoft; Uid=root; pwd=elso;" />
<add name="db3" connectionString="Data Source=DESKTOP-69KVSRC;Initial Catalog=Fersoft;User ID=gregory;Password=elso" />
<add name="db1" connectionString="Data Source=MACYEPE;Initial Catalog=Fersoft;User ID=gregory;Password=elso" />
</connectionStrings>
</configuration>
